*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*cabeçalho do site*/
header
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
}

header h1
{
    font-size: 60px;
}

/*sessão 01*/
.container
{
    display: flex;
    align-items: center;
    gap: 50px;

    font-size: 18px;
    color: black;
}

.container img
{
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 350px;
    width: 650px;
    height: auto;
}

.texto h2
{
    color: darkblue;
    font-size: 35px;
    max-width: 500px;
    margin-bottom: 20px;
}

.texto p
{
    max-width: 550px;
}

strong
{
    color: darkblue;
}

/*sessão 02*/
.galeria
{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

/* itens da galeria de 3 imagens*/
.item
{
    padding: 40px;
    flex: 1;
    text-align: left;
    display: inline-block;
    
    text-align: left;
    max-width: 500px;
    font-size: 18px;
    line-height: 1.6;
}

.item h2
{
    color: darkblue;
}

.item img
{
    margin: 30px;
    width: 80%;
    height: auto;
    border-radius: 15px;
    display: block;
}

/*item2 da galeria*/
.item2
{
    text-align: left;
    max-width: 500px;
    font-size: 18px;
    line-height: 1.6;
}

.item2 img
{
    margin: 0px;
    margin-top: 70px;
    width: 60%;
    height: auto;
    border-radius: 15px;
}

.item2 h2
{
    color: darkblue;
}


/*MENU*/

/*Posicionamento do menu*/
.menu
{
    position: absolute;
    left: 20px;
    top: 30px;
}

.menu ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    border-radius: 5px;
}

.menu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover
{
    background-color: white;
    color: darkblue;
    border-radius: 5px;
}

/*Estilo do menu hamburguer*/
.menu ul.active
{
    display: flex;
}

.menu-toggle
{
    display: block;
    cursor: pointer;
}


/*Personalização interna do menu*/
.menu-itens li a 
{
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.menu-itens
{
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: darkblue;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    border-radius: 5px;
    min-width: 200px;
    z-index: 100;
}

.menu-toggle-checkbox:checked ~ .menu-itens
{
    display: flex;
}

.menu-toggle-checkbox
{
    display: none;
}

